<div class="footer">
    <div class="info">
        <div class="sobre">
            <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium molestias nesciunt ipsa modi eveniet error magnam earum, aspernatur, voluptate labore, maiores assumenda pariatur praesentium voluptates illo ullam? A, earum voluptatem.
            </p>
        </div>
        <div class="contato">
            <a> <i class="fa-regular fa-envelope"></i> gerente.decorarte@hotmail.com </a>
            <a> <i class="fa-solid fa-phone"></i> (77) 3441-5623 </a>
            <a> <i class="fa-brands fa-whatsapp"></i> (77) 9 9802-2627 </a>
        </div>
    </div>
    <div class="copy"><i class="fa-regular fa-copyright"></i>Todos os direitos reservados.</div>
</div>
