/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --cinza-claro: #ffffff;
    --cinza-medio: #f1f2f6;
    --cinza-tree: #dfe4ea;
    --cinza-four: #a4b0be;
    --cinza-five: #747d8c;
    --blue: #1e90ff;
    --orange: #ffa502;
    --dark: #2f3542;
}